<script type="text/javascript" defer>
  $('.js-add-to-cart-form').on('submit', function (e) {
    e.preventDefault();
    var $form = $(this);
    let variantId = $form.find('.js-variant-id').val();
    let quantity = $form.find('.js-quantity').val();

    CartJS.addItem(variantId, quantity, {}, {
      // Define a success callback to display a success message.
      "success": function(data, textStatus, jqXHR) {
        $('body').addClass('open-cart');
      },
      // Define an error callback to display an error message.
      "error": function(jqXHR, textStatus, errorThrown) {
          $form.append('<p>There was a problem adding to the cart!</p>')
      }
    });


  });

  $('#quantity').on('change', function () {
    var selectedQuantity = parseInt($(this).val(), 10);
    var variantPrice = $('.js-price').data('raw-price');
    var variantPriceTimesQuantity = selectedQuantity * variantPrice;
    $('.js-price').html(slate.Currency.formatMoney(variantPriceTimesQuantity, theme.moneyFormat));
  });

  $('.js-open-notify-me').on('click', function (e) {
    e.preventDefault();
    $('.js-notify-me-form-wrapper').fadeIn();
  });

  /* ---------------------------------------------
  OOS / COMING SOON NOTIFICATIONS
  ------------------------------------------------ */

  $('.js-notify-me-form-wrapper').on( 'submit', 'form', function (e) {
    e.preventDefault();
    var $form = $(this);
    var formType = $form.attr('data-form');
    var klaviyoListId = $form.attr('data-klaviyo-id') ? $form.attr('data-klaviyo-id') : 'XvSmLj';
    var email = $form.find('[name="email"]').val();
    var origin = '';
    var signupUrl = formType == 'pre-launch' ? 'https://a.klaviyo.com/ajax/subscriptions/subscribe' : 'https://a.klaviyo.com/onsite/components/back-in-stock/subscribe';
    var data;

    if (formType == 'pre-launch') {
      var data = {
        'g': klaviyoListId,
        "$fields": "$source,$consent,product,variant,Product Name",
        '$consent': 'web',
        '$consent_method': 'Waitist Form',
        'email': email,
        '$timezone_offset': Math.abs(new Date().getTimezoneOffset() / 60),
        'variant': $form.find('[name="email"]').attr('data-variant-id'),
        'product': $form.find('[name="email"]').attr('data-product-id'),
        'Product Name': $form.find('[name="email"]').attr('data-product-name'),
        '$source': 'PDP Waitlist',
      };
    } else {
      // 'a' is public api key from Klaviyo account settings
      var data = {
        'g': klaviyoListId,
        'a': 'XnN2Bp',
        'platform': 'shopify',
        '$consent': 'web',
        '$consent_method': 'Waitist Form',
        'email': email,
        '$timezone_offset': Math.abs(new Date().getTimezoneOffset() / 60),
        'variant': $form.find('[name="email"]').attr('data-variant-id'),
        'product': $form.find('[name="email"]').attr('data-product-id'),
        'Product Name': $form.find('[name="email"]').attr('data-product-name'),
        '$source': 'PDP Waitlist',
      };
    }


    $.ajax({
      method: 'POST',
      url: signupUrl,
      data: data
    }).done(function (response) {
      if (response.success) {
        $form.find('.form-inputs').hide();
        $form.find('.signup-success').fadeIn();
      } else {
        console.error('Error Klaviyo: ', response.errors);
        $form.find('.form-inputs').hide();
        $form.find('.signup-errror').fadeIn();
      }
    }).fail(function (err) {
      console.error('Error Klaviyo: ', err);
      // $form.find('.form-inputs').hide();
      $form.find('.signup-errror').html(err).fadeIn();
    });
  });



</script>
