<div class="cart-inner">
  <div class="top-row">
    <span></span>
    {%- if location == 'cart_drawer' -%}
      <button class="text-button js-close-cart close-cart-text text-only" type="button" aria-label="Close Cart drawer">
        {% render 'icon-close-kati' %}
      </button>
    {%- endif -%}
  </div>
  <main data-cart-view="data-cart-view">
    <div class="cart-product-wrap" rv-each-item="cart.items">

      <div class="cart-image">
        <a rv-href="item.url" title="Visit product page">
          <img rv-src="item.image | productImageSize '180x272_crop_center'" src="" rv-alt="item.product_title">
        </a>
      </div>
      <div class="info-col">
        <div>
          <div class=" cart-title-price">
            <h3 class="cart-title" >
              <a rv-href="item.url">
                <span rv-text="item.product_title"></span>
              </a>
            </h3>
          </div>
          <div class="cart-variants" rv-each-variant="item.options_with_values">
            <span rv-text="variant.name"></span>:&nbsp;
            <span rv-text="variant.value"></span>
          </div>
          <div>
            <div class="cart-quantity">
              QTY:&nbsp;
              <a href="#" rv-data-cart-quantity="item.quantity | minus 1" rv-data-cart-update="index | plus 1">&ndash;</a>
              <span rv-text="item.quantity"></span>
              <a href="#" rv-data-cart-quantity="item.quantity | plus 1" rv-data-cart-update="index | plus 1">+</a>
            </div>
            <span class="cart-price" rv-html="item.line_price | money Currency.currentCurrency"></span>
          </div>
        </div>
        <div>
          <a href="#" rv-data-cart-remove="index | plus 1" class="cart-remove caps--8">
            Remove
          </a>
        </div>
      </div>
    </div>


    <div class="order-notes" rv-show="cart.item_count | gt 0">
      {% if settings.cart_notes_enable %}
        <textarea id="CartSpecialInstructions" class="js-cart-drawer-order-notes" name="note" placeholder="Order Notes">{{ cart.note }}</textarea>
      {% endif %}
    </div>

    <p class="empty-cart" rv-show="cart.item_count | lt 1">
      Your cart is empty
    </p>

  </main>
  <div class="footer-content" data-cart-view="data-cart-view" rv-show="cart.item_count | gt 0">
    <div class="cart-total-row ">
      <p class="caps--12 split-aligner"><span>Subtotal:</span> <span rv-html="cart.total_price | money Currency.currentCurrency"></span></p>

    </div>

    <a href="/checkout" class="btn btn--black">Checkout</a>
  </div>
</div>
