<div class="container">
  <div class="cols-3 product-grid">
    <!-- RELATED PRODUCTS -->
    {% if product.metafields.accentuate.product != blank %}
      {% assign product_refs = product.metafields.accentuate.product | split: "|" %}
      {% for product_handle in product_refs %}
        {% assign product_ref = all_products[product_handle] %}
        {%- if product_ref.handle != blank -%}
          {%- include 'product-card', product: product_ref -%}
        {%- endif -%}

      {% endfor %}

    <!-- BACKUP: CURRENT COLLECTION -->
    {% elsif collection != blank %}
      {% for product in collection.products limit: 3 %}
        {%- include 'product-card' -%}
      {% endfor %}

    <!-- BACKUP: ALL PRODUCTS -->
    {% else %}
      {% assign collection = collections['all'] %}
      {% for product in collection.products limit: 3 %}
        {%- include 'product-card' -%}
      {% endfor %}
    {% endif %}
  </div>
</div>
