<!--
SETUP: Create 'related_products' field in custom fields
-->

<div class="container">
  <div class="cols-3">
    <!-- RELATED PRODUCTS -->
    {% if product.metafields.accentuate.product != blank %}
      {% assign product_refs = product.metafields.accentuate.product | split: "|" %}
      {% for product_handle in product_refs %}
        {% assign product_ref = all_products[product_handle] %}
        {%- include 'product-card', product: product_ref -%}
      {% endfor %}

    <!-- BACKUP: CURRENT COLLECTION -->
    {% elsif collection != blank %}
      {% for product in collection.products limit: 3 %}
        {%- include 'product-card' -%}
      {% endfor %}

    <!-- BACKUP: ALL PRODUCTS -->
    {% else %}
      {% assign collection = collections['all'] %}
      {% for product in collection.products limit: 3 %}
        {%- include 'product-card' -%}
      {% endfor %}
    {% endif %}
  </div>
</div>
