{% if swatch != blank %}

  {% assign found_option = false %}
  {% assign option_index = 0 %}

  {% for option in product.options %}

    {% if option == swatch %}
      {% assign found_option = true %}
      {% assign option_index = forloop.index0 %}
    {% endif %}
  {% endfor %}



{% if found_option == true %}

<div class="swatch product-card__size" data-option-index="{{ option_index }}">
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}

    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %}
      {% assign values = values | split: ',' %}
      <span data-value="{{ value | escape }}" class="{% if variant.available %}available{% else %}soldout{% endif %}">
        {{ value }}
      </span>
    {% endunless %}
  {% endfor %}
</div>

{% endif %}

{% endif %}
