// /* --------------------------------------------------------------------------
//   TEXT ANIMATIONS
// -----------------------------------------------------------------------------*/
[data-reveal="lines-masked"],
[data-reveal="lines-masked-desc"],
[data-reveal="words-masked"] {
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
  [class^="split-line-wrap"] {
    overflow: hidden;
    display: block;
  }
}

.scroll-enter,
[data-stagger] {
  opacity: 0;
}

// /* --------------------------------------------------------------------------
//   SLIDE
// -----------------------------------------------------------------------------*/
[data-anim="fade-slow"],
[data-anim="fade"] {
  opacity: 0;
  transition: all 1.5s $ease;
}

[data-anim="slide"] {
  transform: translateY(2rem);
  @include mobile-only {
    transform: translateY(.8rem);

  }
}

[data-anim="slide-right"] {
  transform: translateX(-2rem);
  @include mobile-only {
    transform: translateX(-.8rem);
  }
}

[data-anim="slide-left"] {
  transform: translateX(2rem);
  @include mobile-only {
    transform: translateX(.8rem);
  }
}

[data-anim="slide"],
[data-anim="slide-right"],
[data-anim="slide-left"] {
  opacity: 0;
  transition: all 1s $ease;

}

.animate-in [data-anim="fade-slow"],
.animate-in [data-anim="fade"],
.animate-in [data-anim="slide"],
.animate-in [data-anim="slide-right"],
.animate-in [data-anim="slide-left"],
.animate-in[data-anim="slide"] {
  opacity: 1;
  transform: none;
  transition: opacity 0.6s ease, transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.animate-in [data-anim="fade-slow"] {
  transition: all 1.2s ease;
}

@for $i from 1 through 30 {
  .animate-in [data-anim-order="#{$i}"] {
    transition-delay: 0.15 + ($i - 1) * 0.15s;
  }
}
