/* --------------------------------------------------------------------------
Buttons
-----------------------------------------------------------------------------*/
.btn {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  outline: none;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  padding: 1rem 3rem;
  &:hover {}
  &:disabled,
  &[disabled] {
    pointer-events: none;
    opacity: 0.8;
  }
}

/* BLACK BUTTON ================== */
.btn--black {
  background: $black;
  color: $cream;
  text-transform: uppercase;
  font-family: $basis;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.154rem;
  border: 2px solid $black;
  &:hover {
    background: transparent;
    color: $black;
  }
}

.btn--star {
  padding: 0.7rem 0.9rem 0.7rem 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  .icon-wrap {
    margin-left: 2rem;
    width: 1.9rem;
    color: white;
    display: inline-block;
  }
  svg path {
    fill: currentColor;
  }
  &:hover {
    .icon {
      color: $black;
    }
  }
}

.link--arrow,
.link--arrow-italic {
  display: inline-flex;
  align-items: center;
  .icon-wrap {
    width: 3.4rem;
    display: inline-block;
    margin-left: 1.3rem;
    transform: translateY(.1rem);
    transition: all 0.3s ease;
    @include mobile-only {
      width: 2.4rem;
    }
  }
  &:hover {
    @include tablet-up {
      .icon-wrap {
        transform: translate(.3rem, .1rem);
      }
    }
  }
}

.link--arrow {
  @extend %caps;
  font-size: 1.2rem;
  letter-spacing: 0.185rem;
  @include mobile-only {
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }
}

.link--arrow-italic {
  font-family: $cardinal;
  font-size: 2rem;
  color: #4B4B4B;
  letter-spacing: 0;
  font-style: italic;
  @include mobile-only {
    font-size: 1.6rem;
  }
  svg path {
    stroke-width: 1px;
  }
}

/* ADA BUTTON ================== */
.text-only {
  font-family: inherit;
  color: inherit;
  padding: 0;
  border: 0;
  text-transform: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
}
