/* --------------------------------------------------------------------------
  CART DRAWER
-----------------------------------------------------------------------------*/
.cart-drawer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 34.4rem;
  z-index: 300;
  background: $brown;
  transform: translateX(110%);
  transition: all 0.3s ease-in-out 0.3s;
  overflow: scroll;
  @include mobile-only {
    width: 100%;
  }
  a {}
  .cart-inner {
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .cart-price,
  .cart-quantity,
  .cart-variants,
  .order-notes {
    @extend .caps--10;
    font-weight: 500;
    line-height: (17 / 10);
  }
}

.close-cart-overlay {
  opacity: 0.9;
  position: fixed;
  z-index: 290;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out 0.2s;
}

.open-cart {
  .cart-drawer {
    transform: none;
    transition: all 0.4s ease-in-out 0.1s;
  }
  .cart-inner {
    transition: all 0.4s ease-in-out 0.4s;
    opacity: 1;
  }

  .close-cart-overlay {
    opacity: 0.7;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }
}

/* --------------------------------------------------------------------------
  CART LAYOUT
-----------------------------------------------------------------------------*/
$footerHeight: 17.2rem;
$mFooterHeight: 17.2rem;
$cartHeaderHeight: 7rem;
$mCartHeaderHeight: 7rem;
.cart-drawer .cart-inner {
  .top-row {
    width: 100%;
  }
  main {
    overflow: scroll;
    bottom: $footerHeight;
    top: $cartHeaderHeight;
    left: 0;
    position: absolute;
    width: 100%;
    @include mobile-only {
      bottom: $mFooterHeight;
      top: $mCartHeaderHeight;
      padding-bottom: 2rem;
    }
  }
  .footer-content {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    top: auto;
    height: $footerHeight;
    background: $brown;
    @include mobile-only {
      height: $mFooterHeight;
    }
  }
}

/* --------------------------------------------------------------------------
    CART DRAWER - EMPTY CART
-----------------------------------------------------------------------------*/
.empty-cart {
  font-weight: 400;
  margin-bottom: 2rem;
}

/* --------------------------------------------------------------------------
  CART DRAWER - TOP ROW
-----------------------------------------------------------------------------*/
.cart-inner .top-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2.6rem 2.4rem 2.8rem;
  border-bottom: 1px solid #4E4E4E;
  h2 {
    margin-bottom: 0;
  }
  .close-cart-text {
    margin-bottom: 0;
    width: 1.3rem;
    svg {
      width: 100%;
      display: block;
    }
  }
}

/* --------------------------------------------------------------------------
    CART DRAWER - PRODUCTS
-----------------------------------------------------------------------------*/
.cart-product-wrap {
  border-bottom: 1px solid #4E4E4E;
  padding: 3.4rem 3.1rem;
  display: flex;
  .cart-image {
    width: 8.2rem;
  }
  .info-col {
    flex-grow: 1;
    padding-left: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h3 {
    font-size: 1.6rem;
    letter-spacing: 0;
    margin-bottom: 0.3rem;
  }

  .cart-remove {
    text-decoration: underline;
    margin-top: 2rem;
    display: block;
  }

}

/* --------------------------------------------------------------------------
  ORDER NOTES
-----------------------------------------------------------------------------*/
.order-notes {
  width: 100%;
  padding: 2rem 3rem;
  textarea {
    @extend .caps--10;
    display: block;
    width: 100%;
    resize: none;
  }
  :focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba($primaryTextColor, .8);
  }
  :focus::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($primaryTextColor, .8);
  }
  :focus:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba($primaryTextColor, .8);
  }
  :focus:-moz-placeholder {
    /* Firefox 18- */
    color: rgba($primaryTextColor, .8);
  }
}

/* --------------------------------------------------------------------------
  SUBTOTAL AND TOTAL ROW
-----------------------------------------------------------------------------*/
.cart-inner .footer-content {
  margin-top: 3rem;
  padding: 2rem 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #4E4E4E;
  .btn {
    width: 100%;
    text-align: center;
  }
  .cart-total-row {
    margin-bottom: 0.6rem;
    margin-bottom: 3rem;
  }
}

/* --------------------------------------------------------------------------
  CART FULL PAGE
-----------------------------------------------------------------------------*/
.page-cart .cart-inner {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .footer-content {
    padding-left: 0;
    padding-right: 0;
  }
}
