/* --------------------------------------------------------------------------
  PROMO BAR
-----------------------------------------------------------------------------*/
.promo-bar {
  padding: 0.5rem 3rem;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  .desc {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    p {
      margin-bottom: 0;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
