<section class="full-width-image-callout js-animate">
  {% if section.settings.url != blank %}
    <a href="{{ section.settings.url }}">
  {% endif %}
    <div class="scaling-image-wrap ">
      <div class="js-animate">
        <div data-anim="fade" data-anim-order="1">
          {% render 'block-image-cropped', image: section.settings.image, m_image: section.settings.image, alt_text: section.settings.image_alt %}
        </div>
      </div>

      <div class="heading-wrapper ">
        <h2 class="hd-1" data-anim="slide" data-anim-order="2">
          <span><em>{{ section.settings.left_text }}</em></span>
          <span class="dividing-line"></span>
          <span>{{ section.settings.right_text }}</span>
        </h2>
      </div>
    </div>
  {% if section.settings.url != blank %}
    </a>
  {% endif %}

</section>

{% schema %}
  {
    "name": "Full Image Page Link",
    "settings": [
      {
        "id": "left_text",
        "type": "text",
        "label": "Left Text"
      },
      {
        "id": "right_text",
        "type": "text",
        "label": "Right Text"
      },
      {
        "id": "url",
        "type": "url",
        "label": "URL",
        "info": "Link to collection, product, or page"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "image_alt",
        "type": "text",
        "label": "Image Alt",
        "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
      }
    ],
    "presets": [
      {
        "name": "Full Width Image Page Link",
        "category": "Sections"
      }
    ]
  }
{% endschema %}
