<section class="image-callout image-callout--page container padded">
  {% if section.settings.url != blank %}
    <a href="{{ section.settings.url }}">
  {% endif %}
    <div class="image-wrap">
      {% render 'block-image', image: section.settings.image, m_image: section.settings.image, alt_text: section.settings.image_alt %}
      <h2 class="hd-1">{{ section.settings.title }}</h2>
    </div>
  {% if section.settings.url != blank %}
    </a>
  {% endif %}

</section>

{% schema %}
  {
    "name": "Centered Image Page Link",
    "class": "is-padded",
    "settings": [
      {
        "id": "title",
        "type": "richtext",
        "label": "Heading"
      },
      {
        "id": "url",
        "type": "url",
        "label": "URL",
        "info": "Link to collection, product, or page"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "image_alt",
        "type": "text",
        "label": "Image Alt",
        "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
      }
    ],
    "presets": [
      {
        "name": "Centered Image Page Link",
        "category": "Sections"
      }
    ]
  }
{% endschema %}
