
{%- if section.blocks.size > 0 -%}
  <div class="featured-products has-mobile-swiper container padded">
    <div class="swiper-container swiper-container-mobile">
      <div class="swiper-wrapper tablet-up-grid product-grid">
        {%- for block in section.blocks -%}
          {%- if block.settings.product != blank -%}
            <div class="swiper-slide">
              {% render 'product-card', product: all_products[block.settings.product] %}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Featured products",
    "class": "is-padded",
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "limit": 3,
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured products",
        "category": "Products"
      }
    ]
  }

{% endschema %}
