
{%- if section.blocks.size > 0 -%}
  <div class="featured-products container padded">
    <div class="cols-3 product-grid">
      {%- for block in section.blocks -%}
        {%- if block.settings.product != blank -%}
          {% render 'product-card', product: all_products[block.settings.product] %}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Featured products",
    "class": "is-padded",
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "limit": 3,
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured products",
        "category": "Products"
      }
    ]
  }

{% endschema %}
