
{%- if section.settings.collection != blank or section.settings.title != blank -%}
  {%- assign collection = collections[section.settings.collection] -%}

  <section class="image-callout image-callout--collection container padded">
    {% if collection != blank %}
      <a href="{{ collection.url }}">
    {% endif %}
      <div class="image-wrap">
        {% render 'block-image', image: section.settings.image, m_image: section.settings.image, alt_text: section.settings.image_alt %}
        <h2 class="hd-1">{{ section.settings.title }}</h2>
      </div>
    {% if collection != blank %}
      </a>
    {% endif %}
  </section>

{%- endif -%}

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "id": "title",
        "type": "richtext",
        "label": "Title"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection",
        "info": "Selecting your collection here will automatically add a link"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "image_alt",
        "type": "text",
        "label": "Image Alt",
        "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Collections"
      }
    ]
  }

{% endschema %}
