<div class="page-collection page-padded-top-sm padded">
  {% paginate collection.products by 30 %}

    <!-- ======================================
    PRODUCT LIST
    =========================================== -->
    <section class="js-product-list container">
      <div class="cols-3 product-grid">
        {% for product in collection.products %}
            {%- render 'product-card', product: product, has_quick_shop: true -%}
        {% endfor %}
      </div>

    </section>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endpaginate %}

</div>
