<header class="container page-padded-top">
  <div class="inner">
    <h1 class="body--24">{{ section.settings.desc }}</h1>
    {% render 'block-image', image: section.settings.image, m_image: section.settings.image, alt_text: section.settings.image_alt %}
  </div>
</header>


{% schema %}
{
  "name": "Fit Guide Intro",
  "settings": [
    {
      "id": "desc",
      "type": "richtext",
      "label": "Intro Text"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "image_alt",
      "type": "text",
      "label": "Image Alt",
      "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
    }
  ]
}
{% endschema %}
