<div class=" page-padded-top padded container">
  <div class="about-wrapper js-animate">
    <div class="cols-2" data-anim="fade" data-anim-order="1">
      <div class="">
        <h1 class="show-mobile">{{ section.settings.title }}</h1>
        <div class="image-wrap" >
          {% render 'block-image', image: section.settings.image, m_image: section.settings.image, alt_text: section.settings.image_alt %}
        </div>
      </div>
      <div>
        <div>
          <h1 class="hide-mobile">{{ section.settings.title }}</h1>
          <div class="desc body--13">
            {{ section.settings.desc }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "About Content",
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title"
    },
    {
      "id": "desc",
      "type": "richtext",
      "label": "Description"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "image_alt",
      "type": "text",
      "label": "Image Alt",
      "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
    }
  ]
}
{% endschema %}
