<section class="container page-padded-top">
  <header>
    {% if section.settings.heading != blank %}
      <h1 class="hd-3">{{ section.settings.heading | newline_to_br }}</h1>
    {% endif %}
  </header>
  <section class="email-addresses">
    {%- if section.blocks.size > 0 -%}
      <ul>
        {% for block in section.blocks %}
          <li>
            <h3 class="hd-5">{{ block.settings.title }}</h3>
            <div class="caps--12">
              {{ block.settings.email_address }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {%- endif -%}
  </section>

</section>


{% schema %}
{
  "name": "Contact Content",
  "settings": [
    {
      "id": "heading",
      "type": "richtext",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "contact",
      "name": "Contact Info Item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "email_address",
          "type": "richtext",
          "label": "Email Address",
          "info": "For email address add link to text. Example of email link: mailto:hello@neranese.com or mailto:press@neranese.com"
        }

      ]
    }
  ]
}
{% endschema %}
