/*================ COMMON ================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*================ Slate specific reset ================*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

img {
  max-width: 100%;
}

/*================ Form element helpers ================*/
form {
  margin: 0;
}

@media screen and (max-width: 768px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

[tabindex='-1']:focus {
  outline: none;
}

/*============================================================================
  Fast Tap
  enables no-delay taps (FastClick-esque) on supporting browsers
==============================================================================*/
[role='button'],
input,
label,
select,
textarea,
a,
button {
  touch-action: manipulation;
}

/*================ SETTINGS ================*/
/* --------------------------------------------------------------------------
Fonts
-----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
Colors
-----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
  ANIMATION
-----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
Responsive Mixins
-----------------------------------------------------------------------------*/
/* Adjust breakpoints below if needed  */
/* --------------------------------------------------------------------------
Hide / Show
-----------------------------------------------------------------------------*/
.show-tablet-down {
  display: none;
}

@media (max-width: 875px) {
  .show-tablet-down {
    display: block;
  }
}

@media (max-width: 875px) {
  .hide-tablet-down {
    display: none !important;
  }
}

.show-mobile {
  display: none;
}

@media (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}

.hide {
  display: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/*================ PARTIALS ================*/
/*-----------------------------------------------------------
Images
-------------------------------------------------------------*/
img {
  display: block;
  max-width: 100%;
}

.bg-image-wrapper {
  position: relative;
  overflow: hidden;
}

.bg-image-wrapper .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image-wrapper .text-content {
  z-index: 2;
  position: relative;
}

/* --------------------------------------------------------------------------
  CROPPED IMAGE WRAPPER
-----------------------------------------------------------------------------*/
html {
  padding-bottom: 0 !important;
}

.cropped-image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: clamp(650px, 100vh, 5000px);
  overflow: hidden;
  object-fit: cover;
}

.cropped-image-wrapper img {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
}

@media (max-width: 767px) {
  .cropped-image-wrapper img {
    right: 0;
    transform: none;
  }
}

.cropped-image-wrapper.contain img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------------------------------------------------------------------------
  LAZYLOADED IMAGES
-----------------------------------------------------------------------------*/
.scaling-image-wrapper {
  overflow: hidden;
}

.lazyload {
  opacity: 0;
}

.swiper-slide:not(:first-of-type) img.fade-in {
  opacity: 1;
}

img.fade-in {
  opacity: 0;
}

img.fade-in.lazyloaded {
  animation: fadeIn 0.6s cubic-bezier(0.72, 0, 0.28, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-and-scale {
  opacity: 0;
  animation: fadeAndScaleImg 2s cubic-bezier(0, 0, 0.002, 1) forwards;
}

@keyframes fadeAndScaleImg {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/*-----------------------------------------------------------
Responsive Videos
-------------------------------------------------------------*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.3%;
  height: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
}

.video-wrapper .placeholder {
  z-index: 1;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video-wrapper .video-play-button {
  background: rgba(38, 57, 88, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: opacity 0.3s ease-in-out;
}

.video-wrapper.playing .video-play-button {
  opacity: 0;
  pointer-events: none;
}

/* --------------------------------------------------------------------------
  ICON CLOSE
-----------------------------------------------------------------------------*/
.icon-close {
  display: inline-block;
  width: 1.5rem;
}

/* --------------------------------------------------------------------------
Font Sizes
-----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
Font Styles
-----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
Typography
-----------------------------------------------------------------------------*/
html {
  font-size: 10px;
  font-size: 0.69444444vw;
}

body {
  background-color: #A0B4B9;
  font-family: sofia-pro, sans-serif;
  color: #231F20;
  line-height: 1.55556;
  letter-spacing: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-size: 1.8rem;
}

@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
}

/* --------------------------------------------------------------------------
Anchors
-----------------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* --------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------*/
.hd-1,
.hd-2,
.hd-3,
.hd-4,
.hd-5,
.hd-6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .hd-1,
  .hd-2,
  .hd-3,
  .hd-4,
  .hd-5,
  .hd-6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
  }
}

/* --------------------------------------------------------------------------
  SMALL CAPS
-----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
  Richtext Styles
-----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
  DESCRIPTION, RICHTEXT STYLES
-----------------------------------------------------------------------------*/
strong {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.desc p,
.desc ul,
.desc-sm p,
.desc-sm ul,
.page-account p,
.page-account ul,
.rte p,
.rte ul {
  margin-bottom: 2rem;
}

.desc ul,
.desc-sm ul,
.page-account ul,
.rte ul {
  padding-left: 3rem;
  list-style-type: disc;
  margin-bottom: 2.2rem;
}

.desc ol,
.desc-sm ol,
.page-account ol,
.rte ol {
  padding-left: 3rem;
  list-style-type: decimal;
  margin-bottom: 2.2rem;
}

.desc a,
.desc-sm a,
.page-account a,
.rte a {
  text-decoration: underline;
}

.desc blockquote,
.desc-sm blockquote,
.page-account blockquote,
.rte blockquote {
  max-width: 80rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .desc blockquote,
  .desc-sm blockquote,
  .page-account blockquote,
  .rte blockquote {
    margin-left: 1rem;
  }
}

.desc blockquote p,
.desc-sm blockquote p,
.page-account blockquote p,
.rte blockquote p {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.desc blockquote cite,
.desc-sm blockquote cite,
.page-account blockquote cite,
.rte blockquote cite {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  text-transform: translateX(-1rem);
  display: block;
}

.desc img,
.desc-sm img,
.page-account img,
.rte img {
  height: auto;
}

.desc table,
.desc-sm table,
.page-account table,
.rte table {
  table-layout: fixed;
}

.rte-table {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*================ Rich Text Editor ================*/
.text-center .rte ol,
.text-center .rte ul,
.text-center.rte ol,
.text-center.rte ul {
  margin-left: 0;
  list-style-position: inside;
}

.rte__video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;
}

.rte__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rte__table-wrapper {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* --------------------------------------------------------------------------
  Responsive Tables
-----------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .responsive-table,
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  .responsive-table td,
  .responsive-table th,
  table td,
  table th {
    border: 1px solid #dfdfdf;
    padding: 1rem 2rem;
  }
}

@media (max-width: 767px) {
  .responsive-table {
    width: 100%;
  }
  .responsive-table thead {
    display: none;
  }
  .responsive-table tr {
    display: block;
  }
  .responsive-table td,
  .responsive-table tr {
    float: left;
    clear: both;
    width: 100%;
  }
  .responsive-table td,
  .responsive-table th {
    display: block;
    text-align: right;
    padding: 15px;
    margin: 0;
  }
  .responsive-table td::before {
    content: attr(data-label);
    float: left;
    text-align: center;
    padding-right: 10px;
  }
  .responsive-table-row + .responsive-table-row,
  tfoot > .responsive-table-row:first-child {
    position: relative;
    margin-top: 10px;
    padding-top: 15px;
  }
  .responsive-table-row + .responsive-table-row::after,
  tfoot > .responsive-table-row:first-child::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #f6f6f6;
  }
}

/* --------------------------------------------------------------------------
Rules
-----------------------------------------------------------------------------*/
hr {
  border: 0;
  border-bottom: 1px solid #383938;
}

/* --------------------------------------------------------------------------
Responsive Design
-----------------------------------------------------------------------------*/
/* Mobile ================== */
@media (max-width: 767px) {
  html {
    font-size: 2.1vw;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 2.666666666vw;
  }
}

/* Large Mobile ================== */
@media only screen and (min-width: 768px) and (max-width: 875px) {
  html {
    font-size: 1vw;
  }
}

/* Large Mobile ================== */
@media only screen and (min-width: 876px) and (max-width: 1024px) {
  html {
    font-size: 0.85vw;
  }
}

/* Large Mobile ================== */
@media only screen and (max-width: 768px) and (min-width: 580px) {
  html {
    font-size: 1.8vw;
  }
}

/* MONITOR ================== */
@media only screen and (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}

/* --------------------------------------------------------------------------
Default Box sizing, Overflow Styles
-----------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

/* --------------------------------------------------------------------------
Inputs
-----------------------------------------------------------------------------*/
input,
textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #383938;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 4px;
  letter-spacing: inherit;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-right: 2rem;
}

textarea {
  height: 8rem;
}

form {
  margin-bottom: 2rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-right: 0;
}

/* NUMBER ================== */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* SELECT ================== */
.selectric-wrapper {
  margin-bottom: 2rem;
}

/* CHECKBOX ================== */
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 2.6rem;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  content: '';
  margin-right: 1rem;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #231F20;
  transition: all 0.6s ease;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
}

input[type="checkbox"]:hover + label:before,
input[type="radio"]:hover + label:before {
  border-color: #080707;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: #231F20;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

input[type="checkbox"]:disabled + label:before,
input[type="radio"]:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  background: #231F20;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  transition: all 0.6s ease;
  top: 50%;
  transform: translateY(-50%);
}

input[type="radio"] + label:before {
  border-radius: 50%;
}

input[type="radio"]:checked + label:after {
  border-radius: 50%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #231F20;
  transition: all 0.5s cubic-bezier(0.34, 0.615, 0.4, 0.985);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #231F20;
  transition: all 0.5s cubic-bezier(0.34, 0.615, 0.4, 0.985);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #231F20;
  transition: all 0.5s cubic-bezier(0.34, 0.615, 0.4, 0.985);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #231F20;
  transition: all 0.5s cubic-bezier(0.34, 0.615, 0.4, 0.985);
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #594f51;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #594f51;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #594f51;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #594f51;
}

.form-vertical {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

/* --------------------------------------------------------------------------
Validation
-----------------------------------------------------------------------------*/
.validation-wrapper {
  position: relative;
  transition: all 0.3s ease;
}

.validation-wrapper.has-error {
  padding-bottom: 1.2rem;
}

.error {
  font-size: 1.1rem;
  margin-top: 0;
  position: absolute;
  bottom: 3rem;
  transform: translateY(100%);
}

.thanks {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: none;
}

[data-reveal="lines-masked"],
[data-reveal="lines-masked-desc"],
[data-reveal="words-masked"] {
  opacity: 0;
}

[data-reveal="lines-masked"].loaded,
[data-reveal="lines-masked-desc"].loaded,
[data-reveal="words-masked"].loaded {
  opacity: 1;
}

[data-reveal="lines-masked"] [class^="split-line-wrap"],
[data-reveal="lines-masked-desc"] [class^="split-line-wrap"],
[data-reveal="words-masked"] [class^="split-line-wrap"] {
  overflow: hidden;
  display: block;
}

.scroll-enter,
[data-stagger] {
  opacity: 0;
}

[data-anim="slide"] {
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.8s cubic-bezier(0.34, 0.615, 0.4, 0.985);
}

.animate-in [data-anim="fade"],
.animate-in [data-anim="slide"],
.animate-in[data-anim="slide"] {
  opacity: 1;
  transform: none;
  transition: all 0.8s cubic-bezier(0.34, 0.615, 0.4, 0.985);
}

.animate-in [data-anim-order="1"] {
  transition-delay: 0.15s;
}

.animate-in [data-anim-order="2"] {
  transition-delay: 0.3s;
}

.animate-in [data-anim-order="3"] {
  transition-delay: 0.45s;
}

.animate-in [data-anim-order="4"] {
  transition-delay: 0.6s;
}

.animate-in [data-anim-order="5"] {
  transition-delay: 0.75s;
}

.animate-in [data-anim-order="6"] {
  transition-delay: 0.9s;
}

.animate-in [data-anim-order="7"] {
  transition-delay: 1.05s;
}

.animate-in [data-anim-order="8"] {
  transition-delay: 1.2s;
}

.animate-in [data-anim-order="9"] {
  transition-delay: 1.35s;
}

.animate-in [data-anim-order="10"] {
  transition-delay: 1.5s;
}

.animate-in [data-anim-order="11"] {
  transition-delay: 1.65s;
}

.animate-in [data-anim-order="12"] {
  transition-delay: 1.8s;
}

.animate-in [data-anim-order="13"] {
  transition-delay: 1.95s;
}

.animate-in [data-anim-order="14"] {
  transition-delay: 2.1s;
}

.animate-in [data-anim-order="15"] {
  transition-delay: 2.25s;
}

.animate-in [data-anim-order="16"] {
  transition-delay: 2.4s;
}

.animate-in [data-anim-order="17"] {
  transition-delay: 2.55s;
}

.animate-in [data-anim-order="18"] {
  transition-delay: 2.7s;
}

.animate-in [data-anim-order="19"] {
  transition-delay: 2.85s;
}

.animate-in [data-anim-order="20"] {
  transition-delay: 3s;
}

.animate-in [data-anim-order="21"] {
  transition-delay: 3.15s;
}

.animate-in [data-anim-order="22"] {
  transition-delay: 3.3s;
}

.animate-in [data-anim-order="23"] {
  transition-delay: 3.45s;
}

.animate-in [data-anim-order="24"] {
  transition-delay: 3.6s;
}

.animate-in [data-anim-order="25"] {
  transition-delay: 3.75s;
}

.animate-in [data-anim-order="26"] {
  transition-delay: 3.9s;
}

.animate-in [data-anim-order="27"] {
  transition-delay: 4.05s;
}

.animate-in [data-anim-order="28"] {
  transition-delay: 4.2s;
}

.animate-in [data-anim-order="29"] {
  transition-delay: 4.35s;
}

.animate-in [data-anim-order="30"] {
  transition-delay: 4.5s;
}

.icon-fallback-text,
.label-hidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  position: absolute;
  top: -400px;
  left: 0;
  padding: 0.8rem;
  z-index: 400;
  background: white;
}

.skip-link:focus {
  top: 0;
}

/* --------------------------------------------------------------------------
  PASSWORD PAGE
-----------------------------------------------------------------------------*/
#preview-bar-iframe {
  display: none !important;
}

.template-password .logo-wrapper {
  max-width: 53.3rem;
  width: 95%;
}

.template-password .logo-wrapper img {
  width: 100%;
}

@media (max-width: 875px) {
  .template-password .logo-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    left: 4%;
    width: 92%;
  }
}

.template-password .page-password {
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.template-password .page-password::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.template-password .text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 876px) {
  .template-password .text-content {
    padding: 10rem 8.2rem 5.55rem;
  }
}

.template-password h2 {
  font-family: "Basis Grotesque Pro";
  font-weight: 500;
  font-size: 1.3rem;
  color: #373737;
  letter-spacing: 0.217rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

@media (max-width: 767px) {
  .template-password h2 {
    font-size: 1.1rem;
    letter-spacing: 0.183rem;
    margin-bottom: 0.9rem;
  }
}

.template-password .btn-row {
  text-align: right;
}

.template-password .icon img {
  width: 5.6rem;
}

@media (max-width: 875px) {
  .template-password .icon img {
    width: 3.3rem;
  }
}

@media (min-width: 876px) {
  .template-password .icon img {
    transition: all 1s ease;
  }
  .template-password .icon img:hover {
    transform: scaleX(-1);
  }
}

@media (max-width: 875px) {
  .template-password .icon {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
}

.template-password form {
  max-width: 49rem;
  margin-top: 10rem;
  margin-bottom: 8rem;
}

@media (max-width: 875px) {
  .template-password form {
    width: 102%;
    background: #E2DCCF;
    position: absolute;
    bottom: -1px;
    left: 0;
    margin: 0;
    padding: 2.2rem 4rem;
    max-width: unset;
  }
}

.template-password .success-message,
.template-password input {
  font-family: "Cardinal Photo";
  font-size: 3.5rem;
  color: #373737;
  letter-spacing: 0.283rem;
  font-style: italic;
}

@media (max-width: 875px) {
  .template-password .success-message,
  .template-password input {
    font-size: 2.5rem;
    letter-spacing: 0.202rem;
  }
}

.template-password input {
  padding: 0;
  border-bottom: 2px solid #4A4A4A;
  padding-bottom: 0.6rem;
}

@media (max-width: 875px) {
  .template-password input {
    padding-bottom: 0.5rem;
  }
}

.template-password ::-webkit-input-placeholder {
  color: #373737;
}

.template-password ::-moz-placeholder {
  color: #373737;
}

.template-password :-ms-input-placeholder {
  color: #373737;
}

.template-password :-moz-placeholder {
  color: #373737;
}

.template-password button[type="submit"] {
  font-family: inherit;
  color: inherit;
  padding: 0;
  border: 0;
  text-transform: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
  transition: all 0.6s ease;
}

@media (max-width: 875px) {
  .template-password button[type="submit"] {
    padding-top: 1rem;
    padding-bottom: 0.2rem;
  }
}

.template-password button[type="submit"]:hover {
  transform: translateX(0.4rem);
}

.template-password button[type="submit"] svg {
  width: 3.5rem;
}

@media (max-width: 875px) {
  .template-password button[type="submit"] svg {
    width: 2rem;
  }
}

.template-password form {
  position: relative;
}

.template-password form .error-message {
  position: absolute;
  font-size: 1.1rem;
  color: #373737;
  transform: translateY(1rem);
}

@keyframes spinX {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}
