/* --------------------------------------------------------------------------
  HEADER
-----------------------------------------------------------------------------*/
.page-ethos header {
  h1 {
    max-width: 47rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.page-ethos .ethos-section {
  margin-bottom: 3.4rem;
  .cropped-image-wrapper {
    padding-bottom: 122%;
  }
  .scaling-image-wrapper {
    max-width: 46.5rem;
    margin-bottom: 2rem;
  }
  .ethos-section__text {
    max-width: 33.4rem;
    margin-left: auto;
    margin-right: auto;
  }
}
