/* --------------------------------------------------------------------------
  FAQs
-----------------------------------------------------------------------------*/
.page-faqs {

  header {
    text-align: center;
  }
  h1 {
    margin-bottom: 3rem;
    @include mobile-only {
      margin-bottom: 2.5rem;
    }
  }
  h2 {
    text-align: center;
    margin-top: 2rem;
    outline: none;
    span {
      cursor: pointer;
    }
  }
  .accordion {
    max-width: 79rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    display: none;
    position: relative;

  }
}

/* --------------------------------------------------------------------------
Accordions
-----------------------------------------------------------------------------*/
/* Accordion Panel Styles ---------------- */
.accordion-panel {
  border-bottom: 1px solid $borderColor;
  padding: 2rem 0;
  &:first-of-type {
    border-top: 1px solid $borderColor;
  }
  &:last-of-type {}
  .accordion-toggle {
    font-size: 1.1rem;
    font-family: $basis;
    font-weight: 500;
    color: #242424;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    @include mobile-only {
      font-size: 1rem;
    }
  }
}

/* Accordion Text Styles ---------------- */
.accordion-text {
  display: none;
  font-size: 1.1rem;
  font-family: $basis;
  color: #242424;
  line-height: (17 / 11);
  a {
    color: $primaryAnchorColor;
    &:hover {
      color: darken($primaryAnchorColor, 3%);
    }
  }
  p:first-of-type {
    margin-top: 1.4rem;
  }
  p:last-of-type {
    margin-bottom: 1.2rem;
  }
  .accordion-inner {
    padding-top: 1rem;
    max-width: 46.7rem;
  }
}

/* Clickable accordion headings ---------------- */
.accordion-toggle {
  cursor: pointer;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 4.5rem;

  /* Plus / Minus icon */
  .icon {
    cursor: pointer;
    position: absolute;
    right: 1.4rem;
    top: 47%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
  }
  .icon::after,
  .icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    border-bottom: 1px solid $borderColor;
  }
  .icon::before {
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
  }

  /* Accordion arrow (product detail page) */
  .icon-arrow-down {
    top: 42%;
    width: 1.2rem;
    @include mobile-only {
      width: 0.8rem;
      top: 40%;
    }

  }
}

/* Expanded accordion styles ---------------- */
.expanded {
  .accordion-toggle {
    .icon-arrow-down {
      transform: translateY(-50%) rotateX(180deg);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

    }
    span::before {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    span::after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
}
