
/* --------------------------------------------------------------------------
  HEADER
-----------------------------------------------------------------------------*/
.template-index header {
  padding-top: 7.2rem;
  .cropped-image-wrapper {
    padding-bottom: 57%;
    @include mobile-only {
      padding-bottom: 110%;
    }
  }
}

/* --------------------------------------------------------------------------
  INTRO
-----------------------------------------------------------------------------*/
.template-index .intro {
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  @include mobile-only {
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
  }

  /* INTRO IMAGE ================== */
  .intro__image {
    @include mobile-only {
      margin-top: 2rem;
    }
  }

  /* INTRO TEXT ================== */
  .intro__text {
    @extend .v-h-aligner;
    position: relative;
    @include mobile-only {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
  .cropped-image-wrapper {
    padding-bottom: 122%;
  }
  .intro__bottom-text,
  .intro__top-text {
    @extend .caps--12;
    text-align: center;
    width: 100%;
    position: absolute;
    word-spacing: 6rem;
    @include mobile-only {
      word-spacing: 3rem;
      width: 80%;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
    }
  }
  .intro__top-text {
    top: 0;

    img {
      width: 31.7rem;
    }
  }
  .intro__bottom-text {
    bottom: 0;
    img {
      width: 30.3rem;

    }
  }
}

/* --------------------------------------------------------------------------
  IMAGE CUTOUT LINK
-----------------------------------------------------------------------------*/
.template-index .image-callout {
  text-align: center;
  position: relative;
  background: white;
  .image-wrap {
    width: 45.2rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    img {
      width: 100%;
    }

  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cream;
    width: 90%;
  }
  &.image-callout--page {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    .image-wrap {
      width: 50rem;
    }
  }
}

/* --------------------------------------------------------------------------
  IMAGE CUTOUT LINK
-----------------------------------------------------------------------------*/
.template-index .full-width-image-callout {
  color: $cream;
  position: relative;
  h2 {
    position: absolute;
    bottom: 2.5rem;
    left: 2.6rem;
    right: 2.6rem;
    display: flex;
    align-items: center;
    @include mobile-only {
      bottom: 0.7rem;
    }
  }
  .dividing-line {
    margin-left: 2rem;
    margin-right: 2rem;
    flex-grow: 1;
    border-bottom: 1px solid $cream;
  }
}
