@charset "UTF-8";

/*================ COMMON ================*/
@import 'global/reset.scss';
@import 'global/slate-reset.scss';

/*================ SETTINGS ================*/
/* --------------------------------------------------------------------------
Fonts
-----------------------------------------------------------------------------*/
$sophia: sofia-pro, sans-serif;
$chronicle: "Chronicle", serif;
$serif: "Chronicle", serif;

$bodyTextFont: $sophia;
$headingFont: $sophia;

/* --------------------------------------------------------------------------
Colors
-----------------------------------------------------------------------------*/
$black: #231F20;
$white: #FFF;
$lightGrey: #F3F3F4;
$borderColor: #383938;

$primaryBgColor: $white;
$primaryTextColor: $black;
$primaryAnchorColor: $primaryTextColor;

$secondaryBgColor: $black;
$secondaryTextColor: $white;

$border: 1px solid $borderColor;

/* --------------------------------------------------------------------------
  ANIMATION
-----------------------------------------------------------------------------*/
$smoothTransition: all 0.3s cubic-bezier(.34,.615,.4,.985);
$ease: cubic-bezier(.34,.615,.4,.985);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeIn: cubic-bezier(0.49, 0.025, 0.65, 0.65);
$easeOut: cubic-bezier(0.280, 0.440, 0.490, 1);
$easeInOut: cubic-bezier(0.490, 0.025, 0.490, 1);
$easeInSoft: cubic-bezier(0.490, 0.025, 0.685, 1);
$easeOutSoft: cubic-bezier(0.280, 0, 0.490, 1);
$easeInOutSoft: cubic-bezier(0.720, 0, 0.280, 1);
$easeOutCustom: cubic-bezier(0.420, 0, 0.002, 1);
$easeOutCustomFast: cubic-bezier(0, 0, 0.002, 1);
$power4: cubic-bezier(0.200, 0.915, 0.445, 0.995);

$animateOpacityAndTransform: opacity 0.5s #{$easeOutSoft},transform 0.8s #{$easeOutCustomFast},-webkit-transform 0.8s #{$easeOutCustomFast};

/* --------------------------------------------------------------------------
Responsive Mixins
-----------------------------------------------------------------------------*/

/* Adjust breakpoints below if needed  */
$tablet-width: 767px;
$mobile-sm-width: 460px;
$desktop-width: 875px;
$desktop-lg-width: 1250px;
$monitor-width: 1440px;

@mixin mobile-sm-only {
  @media (max-width: #{$mobile-sm-width}) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-only {
  @media (max-width: #{$desktop-width}) and (min-width: #{$tablet-width + 1}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width + 1}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width + 1}) {
    @content;
  }
}

/* --------------------------------------------------------------------------
Hide / Show
-----------------------------------------------------------------------------*/
.show-tablet-down {
  display: none;
  @include tablet-down {
    display: block;
  }
}

.hide-tablet-down {
  @include tablet-down {
    display: none !important;
  }
}

.show-mobile {
  display: none;
  @include mobile-only {
    display: block;
  }
}

.hide-mobile {
  @include mobile-only {
    display: none !important;
  }
}

.hide {
  display: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/*================ PARTIALS ================*/
/*-----------------------------------------------------------
Images
-------------------------------------------------------------*/
img {
  display: block;
  max-width: 100%;
}

.bg-image-wrapper {
  position: relative;
  overflow: hidden;
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .text-content {
    z-index: 2;
    position: relative;
  }
}

/* --------------------------------------------------------------------------
  CROPPED IMAGE WRAPPER
-----------------------------------------------------------------------------*/
html {
  padding-bottom: 0 !important;
}
.cropped-image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: clamp(650px, 100vh, 5000px);
  overflow: hidden;
  object-fit: cover;
  img {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    width: auto;
    height: auto;
    @include mobile-only {
      right: 0;
      transform: none;
    }
  }
  &.contain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* --------------------------------------------------------------------------
  LAZYLOADED IMAGES
-----------------------------------------------------------------------------*/
.scaling-image-wrapper {
  overflow: hidden;
}

.lazyload {
  opacity: 0;
}

// FIX for Swiper bug where looped images don't always show
.swiper-slide:not(:first-of-type) {
  img.fade-in {
    opacity: 1;
  }
}

img.fade-in {
  opacity: 0;
  &.lazyloaded {
    animation: fadeIn 0.6s $easeInOutSoft forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-and-scale {
  opacity: 0;
  animation: fadeAndScaleImg 2s $easeOutCustomFast forwards;
}

@keyframes fadeAndScaleImg {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;

  }
}

/*-----------------------------------------------------------
Responsive Videos
-------------------------------------------------------------*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.3%;
  height: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
  // Used for placeholder image
  .placeholder {
    z-index: 1;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .video-play-button {
    background: rgba(38, 57, 88, .85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }
  &.playing {
    .video-play-button {
      opacity: 0;
      pointer-events: none;
    }
  }
}

/* --------------------------------------------------------------------------
  ICON CLOSE
-----------------------------------------------------------------------------*/
.icon-close {
  display: inline-block;
  width: 1.5rem;
}

/* --------------------------------------------------------------------------
Font Sizes
-----------------------------------------------------------------------------*/
$baseSize: 10px;
$tabletBaseSize: 9px;
$mobileBaseSize: 8px;
$bodyDesktopFontSize: 1.8rem;
$bodyMobileFontSize: 1.6rem;

/* --------------------------------------------------------------------------
Font Styles
-----------------------------------------------------------------------------*/
$bodyTextLineHeight: (28 / 18);
$bodyTextLetterSpacing: 0;

/* --------------------------------------------------------------------------
Typography
-----------------------------------------------------------------------------*/
html {
  font-size: $baseSize;
  font-size: 0.69444444vw;
}

body {
  background-color: #A0B4B9;
  font-family: $bodyTextFont;
  color: $primaryTextColor;
  line-height: $bodyTextLineHeight;
  letter-spacing: $bodyTextLetterSpacing;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font-size: $bodyDesktopFontSize;
  @include mobile-only {
    font-size: $bodyMobileFontSize;
  }
}

/* --------------------------------------------------------------------------
Anchors
-----------------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* --------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------*/
.hd-1,
.hd-2,
.hd-3,
.hd-4,
.hd-5,
.hd-6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  @include mobile-only {
    margin-bottom: 1.5rem;
  }
}

/* --------------------------------------------------------------------------
  SMALL CAPS
-----------------------------------------------------------------------------*/
%smallCaps {
  text-transform: uppercase;
}

/* --------------------------------------------------------------------------
  Richtext Styles
-----------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------
  DESCRIPTION, RICHTEXT STYLES
-----------------------------------------------------------------------------*/
strong {
  font-weight: 600;
}
em,
i {
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: smaller;
}

.desc,
.desc-sm,
.page-account,
.rte {
  p,
  ul {
    margin-bottom: 2rem;
  }
  ul {
    padding-left: 3rem;
    list-style-type: disc;
    margin-bottom: 2.2rem;
  }

  ol {
    padding-left: 3rem;
    list-style-type: decimal;
    margin-bottom: 2.2rem;
  }

  a {
    text-decoration: underline;
    &:hover {}
  }

  blockquote {
    max-width: 80rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include mobile-only {
      margin-left: 1rem;
    }
    p {
      font-size: 2.6rem;
      margin-bottom: 2rem;
    }
    cite {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 1.2rem;
      text-transform: translateX(-1rem);
      display: block;
    }

  }
  img {
    height: auto;
  }
  table {
    table-layout: fixed;
  }
}

.rte-table {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*================ Rich Text Editor ================*/
.text-center .rte ol,
.text-center .rte ul,
.text-center.rte ol,
.text-center.rte ul {
  margin-left: 0;
  list-style-position: inside;
}

.rte__video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;
}
.rte__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rte__table-wrapper {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* --------------------------------------------------------------------------
  Responsive Tables
-----------------------------------------------------------------------------*/
@include tablet-up {
  .responsive-table,
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    td,
    th {
      border: 1px solid #dfdfdf;
      padding: 1rem 2rem;
    }
  }
}
@include mobile-only {
  .responsive-table {
    width: 100%;
  }
  .responsive-table thead {
    display: none;
  }
  .responsive-table tr {
    display: block;
  }
  .responsive-table td,
  .responsive-table tr {
    float: left;
    clear: both;
    width: 100%;
  }
  .responsive-table td,
  .responsive-table th {
    display: block;
    text-align: right;
    padding: 15px;
    margin: 0;
  }
  .responsive-table td::before {
    content: attr(data-label);
    float: left;
    text-align: center;
    padding-right: 10px;
  }
  .responsive-table-row + .responsive-table-row,
  tfoot > .responsive-table-row:first-child {
    position: relative;
    margin-top: 10px;
    padding-top: 15px;
  }
  .responsive-table-row + .responsive-table-row::after,
  tfoot > .responsive-table-row:first-child::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #f6f6f6;
  }
}

/* --------------------------------------------------------------------------
Rules
-----------------------------------------------------------------------------*/
hr {
  border: 0;
  border-bottom: $border;
}

/* --------------------------------------------------------------------------
Responsive Design
-----------------------------------------------------------------------------*/
/* Mobile ================== */
@include mobile-only {
  html {
    font-size: 2.1vw;
  }
}

@include mobile-sm-only {
  html {
    font-size: 2.666666666vw;
    // font-size: 10px;
  }
}

/* Large Mobile ================== */
@media only screen and (min-width: 768px) and (max-width: 875px) {
  html {
    font-size: 1vw;
  }
}
/* Large Mobile ================== */
@media only screen and (min-width: 876px) and (max-width: 1024px) {
  html {
    font-size: 0.85vw;
  }
}

/* Large Mobile ================== */
@media only screen and (max-width: 768px) and (min-width: 580px) {
  html {
    font-size: 1.8vw;
  }
}

/* MONITOR ================== */
@media only screen and (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}

/* --------------------------------------------------------------------------
Default Box sizing, Overflow Styles
-----------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

/* --------------------------------------------------------------------------
Inputs
-----------------------------------------------------------------------------*/
input,
textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid $borderColor;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 4px;
  letter-spacing: inherit;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-right: 2rem;
}

textarea {
  height: 8rem;
}

form {
  margin-bottom: 2rem;
  input,
  textarea {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}

/* NUMBER ================== */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* SELECT ================== */
.selectric-wrapper {
  margin-bottom: 2rem;
}

/* CHECKBOX ================== */
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;

  + label {
    cursor: pointer;
    position: relative;
    padding: 0 0 0 2.6rem;
  }

  + label:before {
    content: '';
    margin-right: 1rem;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid $primaryTextColor;
    transition: all 0.6s ease;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
  }

  &:hover + label:before {
    border-color: darken($primaryTextColor, 10%);
  }

  &:checked + label:before {
    background: $primaryTextColor;
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    background: $primaryTextColor;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    transition: all 0.6s ease;
    top: 50%;
    transform: translateY(-50%);
  }
}

input[type="radio"] {
  + label:before {
    border-radius: 50%;
  }
  &:checked + label:after {
    border-radius: 50%;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $primaryTextColor;
  transition: all 0.5s $ease;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $primaryTextColor;
  transition: all 0.5s $ease;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $primaryTextColor;
  transition: all 0.5s $ease;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $primaryTextColor;
  transition: all 0.5s $ease;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lighten($primaryTextColor, 20%);
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: lighten($primaryTextColor, 20%);
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: lighten($primaryTextColor, 20%);
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: lighten($primaryTextColor, 20%);
}

.form-vertical {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

/* --------------------------------------------------------------------------
Validation
-----------------------------------------------------------------------------*/
.validation-wrapper {
  position: relative;
  transition: all 0.3s ease;
  &.has-error {
    padding-bottom: 1.2rem;
  }
}
.error {
  font-size: 1.1rem;
  margin-top: 0;
  position: absolute;
  bottom: 3rem;
  transform: translateY(100%);

}

.thanks {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: none;
}

// /* --------------------------------------------------------------------------
//   TEXT ANIMATIONS
// -----------------------------------------------------------------------------*/
[data-reveal="lines-masked"],
[data-reveal="lines-masked-desc"],
[data-reveal="words-masked"] {
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
  [class^="split-line-wrap"] {
    overflow: hidden;
    display: block;
  }
}

.scroll-enter,
[data-stagger] {
  opacity: 0;
}

// /* --------------------------------------------------------------------------
//   SLIDE
// -----------------------------------------------------------------------------*/
[data-anim="slide"] {
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.8s $ease;
}

.animate-in [data-anim="fade"],
.animate-in [data-anim="slide"],
.animate-in[data-anim="slide"] {
  opacity: 1;
  transform: none;
  transition: all 0.8s $ease;
}

@for $i from 1 through 30 {
  .animate-in [data-anim-order="#{$i}"] {
    transition-delay: 0.15 + ($i - 1) * 0.15s;
  }
}

.icon-fallback-text,
.label-hidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  position: absolute;
  top: -400px;
  left: 0;
  padding: 0.8rem;
  z-index: 400;
  background: white;
  &:focus {
    top: 0;
  }
}

/* --------------------------------------------------------------------------
  PASSWORD PAGE
-----------------------------------------------------------------------------*/
#preview-bar-iframe {
  display: none !important;
}

.template-password {
  .logo-wrapper {
    max-width: 53.3rem;
    width: 95%;
    img {
      width: 100%;
    }
    @include tablet-down {
      position: absolute;
      top: 50%;
      transform: translateY(-100%);
      left: 4%;
      width: 92%;
    }
  }
  .page-password {
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
  .text-content {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include desktop-up {
      padding: 10rem 8.2rem 5.55rem;
    }
    @include tablet-down {
      // padding: 0 1.4rem;
    }

  }

  h2 {
    font-family: "Basis Grotesque Pro";
    font-weight: 500;
    font-size: 1.3rem;
    color: #373737;
    letter-spacing: 0.217rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    @include mobile-only {
      font-size: 1.1rem;
      letter-spacing: 0.183rem;
      margin-bottom: 0.9rem;
    }
  }

  .btn-row {
    text-align: right;
  }

  .icon {
    img {

      width: 5.6rem;
      @include tablet-down {
        width: 3.3rem;
      }
      @include desktop-up {
        transition: all 1s ease;
        &:hover {
          transform: scaleX(-1);
        }
      }
    }
    @include tablet-down {
      position: absolute;
      top: 3rem;
      left: 3rem;
    }
  }

  form {
    max-width: 49rem;
    margin-top: 10rem;
    margin-bottom: 8rem;
    @include tablet-down {
      width: 102%;
      background: #E2DCCF;
      position: absolute;
      bottom: -1px;
      left: 0;
      margin: 0;
      padding: 2.2rem 4rem;
      max-width: unset;
    }
  }
  .success-message,
  input {
    font-family: "Cardinal Photo";
    font-size: 3.5rem;
    color: #373737;
    letter-spacing: 0.283rem;
    font-style: italic;
    @include tablet-down {
      font-size: 2.5rem;
      letter-spacing: 0.202rem;
    }
  }
  input {
    padding: 0;
    border-bottom: 2px solid #4A4A4A;
    padding-bottom: 0.6rem;
    @include tablet-down {
      padding-bottom: 0.5rem;
    }
  }

  ::-webkit-input-placeholder {
    color: #373737;
  }
  ::-moz-placeholder {
    color: #373737;
  }
  :-ms-input-placeholder {
    color: #373737;
  }
  :-moz-placeholder {
    color: #373737;
  }

  button[type="submit"] {
    font-family: inherit;
    color: inherit;
    padding: 0;
    border: 0;
    text-transform: none;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1.6rem;
    transition: all 0.6s ease;
    @include tablet-down {
      padding-top: 1rem;
      padding-bottom: 0.2rem;

    }
    &:hover {
      transform: translateX(.4rem);
    }
    svg {
      width: 3.5rem;
      @include tablet-down {
        width: 2rem;
      }
    }
  }

  form {
    position: relative;
    .error-message {
      position: absolute;
      font-size: 1.1rem;
      color: #373737;
      transform: translateY(1rem);
    }
  }

}

@keyframes spinX {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}
