/* --------------------------------------------------------------------------
  POPUPS
-----------------------------------------------------------------------------*/
.overlay-content {
  position: fixed;
  overflow-x: scroll;
  top: 0;
  left: 0;
  width: 60rem;
  max-height: 80vh;
  height: 60rem;
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.5s $easeInOutSoft 0.3s,visibility 0.5s $easeInOutSoft 0.3s;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .inner {
    opacity: 0;
    transition: opacity 0.5s $easeInOutSoft 0s,visibility 0.5s $easeInOutSoft 0s;
  }
  .close-overlay-btn {
    position: absolute;
    right: $desktopSidePadding;
    top: 6.6rem;
    @include mobile-only {
      top: 2rem;
      right: $mobileSidePadding;
    }
  }

}

.overlay-bg {
  background: rgba(0, 0, 0, .46);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 490;
}

.active-overlay {
  .overlay-content {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: opacity 0.5s $easeInOutSoft 0s,visibility 0.5s $easeInOutSoft 0s;
    .inner {
      opacity: 1;
      transition: opacity 1s $easeInOutSoft 0.3s,visibility 1s $easeInOutSoft 0.3s;
    }
  }
  .overlay-bg {
    pointer-events: auto;
    opacity: 2;
    visibility: visible;
  }
}

.open-overlay {
  overflow: hidden;
  height: 100vh;
}

/* --------------------------------------------------------------------------
  Instagram Callout
-----------------------------------------------------------------------------*/
.instagram-section {
  text-align: center;
  .instagram-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile-only {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  }
  h2 {
    margin-bottom: 1.9rem;
  }
  .icon-star {
    width: 3.2rem;
    margin-bottom: 2.7rem;
  }
  .instagram-section__link {
    display: inline-block;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      transform: translateY(.3rem);
      transition: $smoothTransition;
      background: $primaryTextColor;
      opacity: 0;
    }
    &:hover::before {
      transform: translateY(.2rem);
      opacity: 1;
    }
  }
  .cropped-image-wrapper {
    @include tablet-up {
      transition: opacity 0.6s ease, transform 2s ease;
      &:hover {
        opacity: 0.75;
        transform: scale(1.045);
      }
    }
  }
  .scaling-image-wrapper {
    padding-left: $mobileSidePadding;
    padding-right: $mobileSidePadding;
  }

}

// /* --------------------------------------------------------------------------
//   SLIDING IMAGE WRAPPERS
// -----------------------------------------------------------------------------*/
// .sliding-img-wrapper {
//   // width: 21.15vmin;
//   // height: 21.15vmin;
//   overflow: hidden;
//   position: relative;
//   transition: all 1s $ease;
//   pointer-events: none;
//   .img-slide-bg {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     transition: all 1s $ease 0.5s;
//     background: $hotPinkBg;
//     z-index: 2;
//   }
// }
//
// /* CIRCLE ANIMATION WRAPPER ================== */
// .sliding-img-wrapper[data-shape="circle"] {
//   border-radius: 50%;
//   .img-slide-bg {
//     border-radius: 50%;
//     transform: scale(0);
//     transition: all 0.9s $ease;
//   }
//   .img-slide {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-radius: 50%;
//     clip-path: circle(0 at center);
//     transition: all 0.9s $ease;
//   }
// }
//
// /* SLIDE INTO PLACE ================== */
// .sliding-img-wrapper {
//   &[data-swipe-dir="down"] {
//     transform: translateY(-50vh);
//   }
//   &[data-swipe-dir="up"] {
//     transform: translateY(30%);
//   }
//   &[data-swipe-dir="left"] {
//     transform: translateX(120%);
//   }
//   &[data-swipe-dir="right"] {
//     transform: translateX(-120%);
//   }
// }
//
// /* SET STATE BEFORE ANIMATING ================== */
// [data-slide-order="1"],
// [data-slide-order="2"],
// [data-slide-order="3"],
// [data-slide-order="4"],
// [data-slide-order="5"] {
//   opacity: 0;
//   transform: translateY(2rem);
//   transition: all 0.7s $ease;
// }
//
// /* ACTIVE STYLES - CIRCLE ================== */
// .js-animate .sliding-img-wrapper[data-shape="circle"] {
//   transform: none;
//   left: 15%;
//   transition-delay: 0.2s;
//   .img-slide,
//   .img-slide-bg {
//     transition-delay: 0.2s;
//   }
//   .img-slide-bg {
//     transform: scale(1);
//   }
//   .img-slide {
//     clip-path: circle(52% at center);
//   }
// }
//
// /* ACTIVE STYLES - SWIPE OPTIONS ================== */
// .js-animate .sliding-img-wrapper {
//   &[data-swipe-dir="down"],
//   &[data-swipe-dir="right"],
//   &[data-swipe-dir="left"],
//   &[data-swipe-dir="up"] {
//     transform: none;
//     transition-delay: 0.7s;
//     .img-slide-bg {
//       transform: none;
//       transition-delay: 0.8s;
//     }
//   }
//   &[data-swipe-dir="up"] {
//     .img-slide-bg {
//       transform: translateY(-100%);
//     }
//   }
//   &[data-swipe-dir="down"] {
//     .img-slide-bg {
//       transform: translateY(100%);
//     }
//   }
//   &[data-swipe-dir="left"] {
//     .img-slide-bg {
//       transform: translateX(-100%);
//     }
//   }
//   &[data-swipe-dir="right"] {
//     .img-slide-bg {
//       transform: translateX(100%);
//     }
//   }
//
// }
//
// /* ANIMATION ORDER ================== */
// .js-animate .sliding-img-wrapper {
//   &[data-slide-order="1"],
//   &[data-slide-order="2"],
//   &[data-slide-order="3"],
//   &[data-slide-order="4"],
//   &[data-slide-order="5"] {
//     opacity: 1;
//     transform: none;
//   }
//   &[data-slide-order="1"] {
//     transition-delay: 0.1s;
//   }
//   &[data-slide-order="2"] {
//     transition-delay: 0.4s;
//   }
//   &[data-slide-order="3"] {
//     transition-delay: 0.8s;
//   }
//   &[data-slide-order="4"] {
//     transition-delay: 1.2s;
//   }
//   &[data-slide-order="5"] {
//     transition-delay: 1.6s;
//   }
//   &[data-slide-order="6"] {
//     transition-delay: 1.8s;
//   }
// }

/* --------------------------------------------------------------------------
  LOADING ICON
-----------------------------------------------------------------------------*/
// .loading-icon {
//   max-width: 3.6rem;
//   margin-left: auto;
//   margin-right: auto;
//   transform-origin: center;
//   &.loading {
//     animation: rotate 8s linear forwards infinite;
//   }
//   svg {
//     display: block;
//   }
// }
//
// @keyframes rotate {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(3600deg);
//   }
// }

// /* --------------------------------------------------------------------------
//   CURSORS
// -----------------------------------------------------------------------------*/
// /* Custom cursor */
// .js-cursor {
//   overflow: hidden;
// }
//
// .js-cursor,
// .js-cursor a {
//   @include tablet-up {
//     cursor: none;
//   }
// }
//
// .js-cursor .follower {
//   position: absolute;
//   left: 0;
//   z-index: 3;
//   top: 0;
//   pointer-events: none;
//   will-change: transform;
//   .animated-content {
//     opacity: 0;
//     visibility: hidden;
//     transform: scale(.3);
//     transition: all 0.3s ease;
//     padding: 0;
//     position: relative;
//   }
//   &.animate .animated-content {
//     opacity: 1;
//     visibility: visible;
//     transform: scale(1);
//   }
// }
//
// /* GRAB CURSOR ================== */
// [data-cursor-type="grab"] .follower {
//   width: 4.4rem;
//   height: 1.6rem;
//   img {
//     width: 2.5rem;
//     margin-left: auto;
//     margin-right: auto;
//     display: block;
//   }
//   .arrow-left,
//   .arrow-right {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     transition: all 0.4s $ease;
//   }
//   .arrow-left {
//     left: -1.6rem;
//   }
//   .arrow-right {
//     right: -1.6rem;
//   }
//   &.mousedown {
//     .arrow-left {
//       left: 0;
//     }
//     .arrow-right {
//       right: 0;
//     }
//   }
// }
//
// /* GLOW CURSOR ================== */
// [data-cursor-type="glow"] .follower {
//   .animated-content {
//     width: 2rem;
//     height: 2rem;
//     border-radius: 50%;
//     background: $brightYellow;
//     -webkit-box-shadow: 0 0 1rem 0.7rem rgba(255,239,0,1);
//     -moz-box-shadow: 0 0 1rem 0.7rem rgba(255,239,0,1);
//     box-shadow: 0 0 1rem 0.7rem rgba(255,239,0,1);
//   }
//   &.is-click .animated-content {
//     box-shadow: none;
//   }
// }

// /* --------------------------------------------------------------------------
//   BREADCRUMBS
// -----------------------------------------------------------------------------*/
// .breadcrumbs {
//   font-size: 1.2rem;
//   letter-spacing: 0.243rem;
//   line-height: 3.6rem;
//   text-transform: uppercase;
//   margin-bottom: 4rem;
//   ol {
//     display: flex;
//     margin: 0;
//   }
//   li:not(:last-of-type) {
//     position: relative;
//     padding-right: 2rem;
//     &::before {
//       content: '>';
//       display: block;
//       position: absolute;
//       top: 0;
//       right: 1rem;
//       width: 0.4rem;
//       font-size: 1.2rem;
//     }
//   }
// }

/* --------------------------------------------------------------------------
  GIF ANIMATION (SPRITE)
-----------------------------------------------------------------------------*/
/* "GIF" logo animation  (used on Troop intro screen)================== */
/*
Use a vertical sprite
Generate from here: https://instantsprite.com/
Set "0" for offest option ^^

 */
// .sprite-wrapper {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   /* UPDATE -  Display width */
//   width: 70%;
//   .sprite {
//     width: 100%;
//     /* UPDATE - calculate height / width to get this % */
//     padding-bottom: 75%;
//     display: block;
//     background-size: cover;
//     /* UPDATE - number should be 1 less than # images */
//     animation: swappity-swap-img 1s steps(3) infinite;
//   }
// }
//
// @keyframes swappity-swap-img {
//   100% {
//     background-position: 0 -100%;
//   }
// }

/* --------------------------------------------------------------------------
  MARQUEE
-----------------------------------------------------------------------------*/
// .marquee-text {
//   position: relative;
//   overflow: hidden;
//   padding-top: 6.8rem;
//   padding-bottom: 6rem;
//   line-height: 1;
//   animation: fadeInMarquee 0.4s $easeIn;
//   @include mobile-only {
//     padding-top: 4rem;
//     padding-bottom: 3.5rem;
//   }
// }
//
// /* LAYOUT / ANIMATION SPEED ================== */
// .marquee__inner {
//   width: fit-content;
//   display: flex;
//   position: relative;
//   transform: translate3d(0, 0, 0);
//   animation: marquee 8s linear infinite;
// }
//
// /* TEXT STYLES ================== */
// .marquee-text span {
//   padding: 0 5rem;
//   color: white;
//   white-space: nowrap;
//   @include mobile-only {
//     padding: 0 2.5rem;
//   }
// }
//
// /* ANIMATIONS ================== */
// @keyframes marquee {
//   0% {
//     transform: translate3d(0, 0, 0);
//   }
//
//   100% {
//     transform: translate3d(-20%, 0, 0);
//   }
// }
//
// @media (prefers-reduced-motion: reduce) {
//   .marquee-text marquee__inner {
//     animation: none;
//   }
// }
//
// @keyframes fadeInMarquee {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
